body{
    background-color: beige;
}

.custom-img {
       max-width: 40%; /* Установить максимальную ширину как 80% от ширины родителя */
       height: auto;   /* Автоматически подстраивать высоту для сохранения пропорций */
   }
