{% extends 'main/layoute.html' %}
{% load static %}

{% block title %}
    <title>Где потратить</title>
{% endblock %}

{% block content %}
<h3><b>Где потратить.</b> <i>Скупой платит дважды...</i></h3>
<p></p>
<p></p>
<h5>Тратить деньги — это естественная часть нашей жизни, но важно делать это разумно. Рациональное использование средств помогает не только получать удовольствие от покупок, но и сохранять баланс в личных финансах. Планирование расходов и осознанный подход к тратам позволят вам не только удовлетворить свои потребности, но и избежать ненужных трат.</h5>
<p></p>
<p></p>
    <!-- Дополнительный контент для главной страницы -->
    <div class="row">
        <div class="col-md-12">
            <img src="{% static 'main/img/shoping.jpg' %}" alt="За покупками" class="img-fluid">
        </div>
        <div class="col-md-12">
            <p></p>
            <p><b>Составляйте бюджет и придерживайтесь его.</b> Первый шаг к разумному расходованию — это составление личного бюджета. Запишите свои доходы и обязательные расходы, такие как аренда жилья, коммунальные услуги и продукты. Определите, сколько средств вы можете позволить себе потратить на развлечения, одежду и другие потребности. Планируя траты заранее, вы будете лучше контролировать свои финансы и избегать ситуаций, когда деньги исчезают незаметно.</p>
        </div>
        <div class="col-md-12">
            <p><b>Инвестируйте в качество, а не количество. </b> При совершении покупок всегда стоит помнить: лучше меньше, да лучше. Покупая вещи более высокого качества, вы тратите деньги на то, что прослужит вам дольше, чем дешевые аналоги. Это касается не только одежды или бытовой техники, но и продуктов питания, услуг и образования. В долгосрочной перспективе такие вложения окупаются, поскольку вы реже сталкиваетесь с необходимостью заменять вещи.</p>

            <p><b>Экономьте на ненужных мелочах. </b> Часто наш бюджет разрушают не крупные покупки, а мелкие траты, которые на первый взгляд кажутся незначительными. Кофе на вынос каждый день, спонтанные покупки в магазинах и ненужные подписки могут накапливаться в значительные суммы. Определите такие «утечки» в своем бюджете и попробуйте сократить их. Например, делайте кофе дома или используйте кэшбэк-программы для экономии.</p>
        </div>

    <div class="col-md-12">
            <h5>Рациональное расходование денег — это искусство, которое помогает достичь финансовой стабильности и сохранить ваши сбережения. Составление бюджета, инвестирование в качественные вещи и контроль мелких трат — три важных шага на пути к финансовой свободе. Умение правильно распоряжаться деньгами позволит вам наслаждаться жизнью, не переживая о непредвиденных расходах.</h5>
        </div>
    <div class="col-md-12">
            <img src="{% static 'main/img/money-man.png' %}" alt="Расходы" class="img-fluid">
        </div>
    </div>
{% endblock %}