{% extends 'main/layoute.html' %}
{% load static %}

{% block title %}
    <title>Главная страница - Денежка</title>
{% endblock %}

{% block content %}
<h3><b>Главная страница.</b> <i>Разрешите представиться...</i></h3>
<p></p>
<p></p>
<h5>Добро пожаловать на сайт "Денежка" – ваш личный проводник в мире денег и финансовой грамотности. Деньги играют важную роль в жизни каждого человека, и наша цель – помочь вам разобраться в тонкостях их заработка, разумного расходования и накопления. Финансовая стабильность и уверенность в будущем начинаются с понимания, как управлять своими средствами.</h5>
<p></p>
<p></p>
    <!-- Дополнительный контент для главной страницы -->
    <div class="row">
        <div class="col-md-12">
            <img src="{% static 'main/img/watch-gold.jpg' %}" alt="Часы" class="img-fluid">
        </div>
        <div class="col-md-12">
            <p></p>
            <p>В разделе <b>"Как заработать"</b> мы расскажем вам о различных способах получения дохода. От традиционных методов, таких как трудоустройство и карьера, до более современных, включая инвестиции и удаленную работу. Независимо от вашего опыта и навыков, здесь вы найдете советы, которые помогут вам развиваться и увеличивать свои доходы.</p>
        </div>
        <div class="col-md-12">
            <p><b>"Где потратить"</b> посвящен тому, как сделать расходы разумными и полезными. Мы подскажем, как извлечь максимальную пользу из каждой потраченной копейки, от личных трат до крупных покупок. Этот раздел поможет вам найти баланс между наслаждением жизнью и ответственным управлением финансами.</p>

            <p>Накопления и инвестиции – важная часть финансового успеха. Раздел <b>"Как сберечь"</b> научит вас, как планировать свои сбережения, накапливать средства и защищать их от инфляции и рисков. Вы узнаете, как грамотно управлять бюджетом и накапливать капитал на важные цели: образование, жилье, пенсию или путешествия.</p>
        </div>

    <div class="col-md-12">
            <h5>Мы уверены, что, осознав свои финансовые возможности и научившись правильно управлять деньгами, вы сможете не только улучшить свое текущее состояние, но и создать стабильное будущее. "Денежка" – это первый шаг на пути к вашей финансовой независимости!</h5>
        </div>
    <div class="col-md-12">
            <img src="{% static 'main/img/money-green.png' %}" alt="Часы" class="img-fluid">
        </div>
    </div>
{% endblock %}








